<% include partials/header %>

<h1><%= bar.name %></h1>

<img src="<%= bar.image %>">

<p><%= bar.description %></p>

<% bar.comments.forEach((comment) => { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }); %>

<% include partials/footer %>
